<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes">
	<meta http-equiv="X-UA-Compitable" content="IE=edge,chrome=1">
	<meta name="keywords" content="">
	<meta name="description" content="基于BootStrap及Vue.js2.0 实现的响应式简易留言板，适合在移动端查看" >
	<title>简易留言板</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		body{
			padding-top:30px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="h3 text-center">简易留言板</div>
		<form action="" role="form">
			<div class="form-group">
				<label for="username">用户名：</label>
				<input type="text" id="username" class="form-control" placeholder="输入年龄" v-model="username">
			</div>
			<div class="form-group">
				<label for="age">年龄：</label>
				<input type="text" id="age" class='form-control' placeholder="输入年龄" v-model="age">
			</div>
			<div class="form-group">
				<input type="button" class="btn btn-sm btn-primary" value="添加" v-on:click="addMsg">
				<input type="reset" class="btn btn-sm btn-danger" value="重置">
			</div>
		</form>

		<hr>

		<table class="table table-bordered table-hover">
			<caption class="h3 text-info">用户留言板</caption>
			<tr class="text-danger">
				<th class="text-center">序号</th>
				<th class="text-center">用户名</th>
				<th class="text-center">年龄</th>
				<th class="text-center">操作</th>
			</tr>
			<tr class="text-center" v-for="(item,index) in items">
				<td>{{index+1}}</td>
				<td>{{item.username}}</td>
				<td>{{item.age}}</td>
				<td><button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#layer" v-on:click="nowIndex = index">删除</button></td>
			</tr>
			<tr v-show="items.length !=0 ">
				<td colspan="4" class="text-right">
					<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#layer" v-on:click="nowIndex = '-1'">删除全部</button>
				</td>
			</tr>
			<tr v-show="items.length == 0">
				<td colspan="4" class="text-center">
					<p class="text-muted">暂无数据...</p>
				</td>
			</tr>
		</table>

		<!-- 模态框 -->
		<div role="dialog" class="modal fade" id="layer">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h4 class="modal-title">确定要删除吗？</h4>
					</div>
					<div class="modal-body text-right">
						<button class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="delMsg(nowIndex)">确定</button>
						<button class="btn btn-sm btn-info" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		new Vue({
			el:'.container',
			data:{
				username:'',
				age:'',
				items:[],
				nowIndex:-100
			},
			methods:{
				addMsg:function(){
					this.items.push({username:this.username,age:this.age})
					this.username = ''
					this.age = ''
				},
				delMsg:function(i){
					if(i==-1){
						this.items = []
					}else{
						this.items.splice(i,1)
					}
				}
			}	
		})
	</script>
</body>
</html>